* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#intro {
    background: url("../images/back-s.jpg") top no-repeat;
    background-size: 65%;
    width: 100%;
    height: 100vh;
    background-color: #a8efff;
    text-align: center;
    font-family: 'Cursive', Comic Sans MS, Comic Sans, cursive;
    font-size: 32px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 1px 0 #fff, -1px 1px 0 #fff, 0px -1px 0 #fff;
}

h1 {
    position: absolute;
    top: 90px;
}

p {
    font-size: 26px;
    color: #ca3a4b;
    font-weight: bold;
    ;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 0px -1px 0 #fff;
    animation-duration: 0.3s;
    animation-name: anim_move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn-start {
    width: 150px;
    height: 50px;
    font-family: 'Cursive', Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    margin-top: 30px;
    border: 2px solid #000;
    border-radius: 6px;
    background-color: #ca3a4b;
    color: #fff;
    transition: .3s;
}


.btn-start:hover {
    background-color: #f55a6d;
    transform: scale(1.2);
}

#game-play {
    display: none;
}

canvas {
    max-width: 100%;
    margin-top: 50px;
}

@keyframes anim_move {
    from {
        margin-left: 10px;
        color: #d9435c
    }

    to {
        margin-right: 10px;
        color: #b42835;
    }
}

@media only screen and (max-width: 600px) {
    #start-game {
        background-size: auto;
    }
}